appnope
colorama
decorator
gevent
greenlet
grequests
ipython
ipython-genutils
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
Pygments
pytest
PyYAML
requests
simplegeneric
six
slackclient
traitlets
wcwidth
websocket-client
